.about-container {
    max-width: 800px;
    margin: 50px auto;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}

.about-container h2 {
    color: #d35400;
    margin-bottom: 20px;
}

.about-container p {
    font-size: 18px;
    line-height: 1.6;
    color: #444;
    margin-bottom: 15px;
}

.our-goal {
    max-width: 800px;
    margin: 50px auto;
    text-align: center;
    padding: 20px;
    background: #fff8f0;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.our-goal h2 {
    color: #d35400;
    margin-bottom: 20px;
}

.our-goal p {
    font-size: 18px;
    line-height: 1.6;
    color: #444;
    margin-bottom: 15px;
}