{% extends "base.html" %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/recipes-grid.css') }}">
{% endblock %}

{% block content %}

    <h2 class="page-title">Browse Popular Indian Recipes</h2>
    <div class="recipes-button-container">
        <a href="/recipes?type=veg">
            <button class="recipe-button veg">Veg</button>
        </a>
        <a href="/recipes?type=non-veg">
            <button class="recipe-button non-veg">Non-Veg</button>
        </a>
        <a href="/recipes">
            <button class="recipe-button all">All</button>
        </a>
    </div>
    <div class="recipe-grid">
        {% for recipe in recipes %}
            <div class="recipe-card">
                <a href="{{ url_for('recipe_detail', recipe_id=recipe.id) }}" class="recipe-card">

                    <img src="{{ url_for('static', filename='images/recipes/' + recipe.image) }}"
                         alt="{{ recipe.name }}">
                    <h3>{{ recipe.name }}</h3>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}