{% extends "base.html" %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/recipes-grid.css') }}">
{% endblock %}

{% block content %}
<meta name="referrer" content="no-referrer-when-downgrade" />

    <video width="320" height="240" controls>
        <source src="../static/movie.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <a href="https://fraildepartment.com/damAFwz.d/GyNev/ZnGHUa/Be/m/9puDZyUslpkfP/TpYT2/O/DpgUymMuDTQOtoNPjoYB4eO-DEINw-N/QS">test.</a>

    <p>https://fraildepartment.com/damAFwz.d/GyNev/ZnGHUa/Be/m/9puDZyUslpkfP/TpYT2/O/DpgUymMuDTQOtoNPjoYB4eO-DEINw-N/QS</p>
    <script>
        (function (iykl) {
            var d = document,
                s = d.createElement('script'),
                l = d.scripts[d.scripts.length - 1];
            s.settings = iykl || {};
            s.src = "\/\/fraildepartment.com\/cMD\/9f6.b\/2Q5El-SrWDQu9_NSjqYy4\/O\/DzIr4cOCSe0F2RNpjDgI4dM\/j-kxwp";
            s.async = true;
            s.referrerPolicy = 'no-referrer-when-downgrade';
            l.parentNode.insertBefore(s, l);
        })({})
    </script>
{% endblock %}